{% extends 'app/base.html' %} {% load static %} {% block title %}Home{% endblock title %} {% block banner_slider %}
...
...
...
...
Previous Next
{% endblock banner_slider %} {% block livesale %}
SALE IS LIVE NOW
5% Instant Discount on Axis Bank Credit and Debit Card Term and Condition Applied (For details visit Bank's official Website)
{% endblock livesale %} {% block main-content %}
ShoppingX Deals of The Day
Product 1
Rs. 500
Product 2
Rs. 300
Product 3
Rs. 100
Product 4
Rs. 700
Product 5
Rs. 500
Product 6
Rs. 400
Product 7
Rs. 500
Product 8
Rs. 300
Product 9
Rs. 600
Product 10
Rs. 900
Product 11
Rs. 100
Product 12
Rs. 200




Trending Deals
Product 1
Rs. 500
Product 2
Rs. 300
Product 3
Rs. 100
Product 4
Rs. 700
Product 5
Rs. 500
Product 6
Rs. 400
Product 7
Rs. 500
Product 8
Rs. 300
Product 9
Rs. 600
Product 10
Rs. 900
Product 11
Rs. 100
Product 12
Rs. 200
{% endblock main-content %}
